.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/haha_2_0_2.xml
local.properties
leakcanary-analyzer/leakcanary-analyzer.iml
leakcanary-android/leakcanary-android.iml
leakcanary-android-no-op/leakcanary-android-no-op.iml
leakcanary-sample/leakcanary-sample.iml
leakcanary-watcher/leakcanary-watcher.iml
.idea/encodings.xml
.idea/findbugs-idea.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
